{% assign text = "1,2,3" | split: "," %}

{% if text == null %}
  <h3 class="border bg-amber-500 px-20">Text is NULL & value is: {{ text }}</h3>
{% else %}
  <h3 class="border bg-amber-500 px-20">Text is NOT NULL & value is: {{ text }}</h3>
  <ul>
    {% for item in text %}
      <li>{{ item }}</li>
    {% endfor %}
  </ul>
{% endif %}